/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  background-color: black;
}

@font-face {
  font-family: 'Wendy';
  src: url('../assets/wendy.ttf') format("truetype");
}

@font-face {
  font-family: 'Bebas';
  src: url('../assets/BebasNeue.ttf') format("truetype");
}

#information-display {
  padding: 50px;
  display: block;
  align-content: center;
  background-color: rgb(80, 0, 80);
  width: 750px;
  height: 750px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: 10px solid black;
}

#game-canvas{
  display: block;
  background: url(../assets/chart/drop_pop_candy/drop_pop_candy_bg.png);
  background-size: cover;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

h1, h2, h3, h4, span, button, p, div, ul, li{
  font-family: Wendy;
  text-align: center;
  color: white;
  margin-bottom: -5px;
}

h1 {
  font-size: 90px;
  margin-bottom: -15px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 25px;
  margin-bottom: 20px;
}

#game-desc {
  display: block;
  font-size: 24px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 70px;
}

#love-arrows {
  width: 500px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.desc-game-controls {
  width: 450px;
  justify-content: space-evenly;
  margin: 0 auto;
  padding: 20px;
  list-style: none;
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  color: grey;
  border: none;
  background: none;
}

button:hover, .difficulty-selected, .speed-selected {
  color: palevioletred;
  cursor: pointer;
  padding: 10px;
  font-size: 60px;
  margin-top: -5px;
  margin-bottom: -15px;
}

#start {
  margin-top: -70px;
  font-size: 60px;
}

#start:hover {
  font-size: 75px;
}

.fake-meta {
  margin-left: auto;
  margin-right: auto;
}

.fake-meta, span{
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-left: 90px;
  margin-right: 90px;
  font-family: Bebas;
  font-size: 15px;
}

#game-opts {
  padding: 50px;
  display: none;
  align-content: center;
  background-color: rgb(80, 0, 80);
  width: 750px;
  height: 750px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border: 10px solid black;
}

#in-game-overlay {
  padding: 15px;
  display: none;
  align-content: center;
  background-color: rgb(0, 0, 0);
  width: 200px;
  height: 120px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  transform: translate(206%, 232%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border: 10px solid gray;
}

#tooltip {
  font-size: 30px;
}

.scroll-rate {
  margin-top: -10px;
}

#scroll-header, #diff-header {
  margin-top: 30px;
}

#credits {
  margin-top: auto;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#back {
  margin-top: 40px;
  font-size: 60px;
}

#in-game-header {
  font-size: 40px;
  margin-top: -5px;
}

.vol-btn {
  font-size: 30px;
  margin-bottom: 0px;
}

.vol-btn:hover {
  font-size: 35px;
  margin-bottom: -5px;
  margin-top: -10px;
}

#step-statistics-block {
  padding: 15px;
  display: none;
  background-color: rgb(0, 0, 0, .85);
  width: 550px;
  height: 600px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  transform: translate(50%, -10%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  border: 10px solid gray;
}

#step-statistics {
  font-size: 55px;
  text-align: left;
  cursor: default;
}

#artist-info {
  margin-top: 7px;
  margin-bottom: 7px;
}

.chart-stats {
  font-size: 30px;
  font-family: 'Bebas';
  display: flex;
  margin-bottom: 1px;
}

.judgement {
  text-align: left;
  margin-top: -10px;
}

#fantastic {
  color: #21CCE8;
}

#excellent {
  color: #e29c18;
}

#great {
  color: #66c955;
}

#decent {
  color: #b45cff;
}

#way-off {
  color: #c9855e;
}

#misses {
  color: #ff3030;
}

#chart-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#percentage-score {
  float: right;
  font-size: 110px;
  display: block;
}