#game-canvas{
  display: block;
  background: url(../assets/chart/drop_pop_candy/drop_pop_candy_bg.png);
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

#information-display {
  display: block;
  float: left;
  z-index: 1;
  margin: 0 auto
}

.game-controls {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin: 0 auto;
  padding: 20px;
  width: 300px;
  list-style: none;
}

